@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins';
    background: black;
}

header nav{
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 80px;
    padding: 0 100px;
    text-transform: uppercase;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active, .me:hover{
    background: white;
    color: black;
}

.checkbtn{
    cursor: pointer;
    display: none;
}

.icon{
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 20px;
    margin-right: 40px;
}

#check{
    display: none;
}

header{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.mainsec{
    color: white;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mainsec h1{
    font-size: 3em;
    margin-bottom: 50px;
    margin-top: 50px;
}

.social{
    display: flex;
}

.social .sociale{
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.05);
    margin: 0 30px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
}

.social a .fab, .social a .fas {
    font-size: 30px;
    line-height: 80px;
    transition: color 0.5s;
}

.social .sociale ::after{
    z-index: -10;
    content: '';
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background: linear-gradient(-45deg, #9796f0, #fbc7d4);
    position: absolute;
    transition: 0.5s;
}

.social a:hover ::after{
    top: 0;
}

.social a:hover .fab, .social a:hover .fas{
    color: black;
}

.social a:hover{
    transform: translateY(-10px);
}

@media (max-width: 952px){
    label.logo{
        font-size: 20px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 10px;
    }
}

@media (max-width: 850px){
    section .container{
        grid-template-columns: 1fr;
    }

    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: black;
        top: 80px;
        left: -100%;
        text-align: center;
        z-index: 50;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    .me:hover, a.active{
        background: none;
        color: #f2f2f2;
    }

    #check:checked ~ ul{
        left: 0;
      }
}


@media(max-width: 600px){
    .big-title{
        font-size: 1.5rem;
        line-height: 1em;
    }

    .mainsec h1{
        font-size: 1.5em;
        padding: 0;
        margin-top: 10em;
    }

    .social{
        flex-direction: column;
    }

    .social .sociale{
        margin-bottom: 20px;
    }
}